/* Write your code here: */
h1, h2 {
    color: blueviolet;
}

.box > .done {    /* > sets the immediate next class */
    color: firebrick;
}

.box li {
    color: blue;
}

li.done {    /* li that has selector (.done) */
    color: green;
}

ul p.done {
    font-size: 0.5rem;
}