* {
    background-color: black;
    color: white;
}

.meme {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400px;
    font-style: normal;
    text-transform: uppercase;
}

img {
    border: 5px, white, solid;
    width: 100%;
}
